
/*banner slider*/

.banner_slider {
    position: relative;
    width: 100%;
    max-width: 900px;
    margin: auto;
    overflow: hidden;
    padding: 0px;
    box-shadow: 3px 3px 9px black;
}
 
@media (max-width: 768px) {
  .banner_slider {  position: relative;
                    width: 100%;
                    max-width: 450px;
                    margin: auto;
                    overflow: hidden;
                    padding: 0%;}
}

@media (max-width: 440px) {
  banner_slider {  position: relative;
                    width: 100%;
                    max-width: 440px;
                    margin: auto;
                    overflow: hidden;
                    padding: 0%;}
}
.slides {
    display: flex;
    width: 900px;
    animation: slide 30s infinite;
}

@media (max-width: 768px)
{
    .slides{
        display: flex;
        width: 450px;
        animation: slide 30s infinite; 
    }
}

@media (max-width: 480px)
{
    .slides{
        display: flex;
        width: 450px;
        animation: slide 30s infinite; 
    }
}

.slides img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

@keyframes slide {
    0%   { transform: translateX(0); }
    11%  { transform: translateX(0); }
    22%  { transform: translateX(-100%)}
    33%  { transform: translateX(-200%); }
    44%  { transform: translateX(-300%); }
    55%  { transform: translateX(-400%); }
    66%  { transform: translateX(-500%); }
    77%  { transform: translateX(-600%); }
    88%  { transform: translateX(-700%); }
}

#texto_slide
{
    position: absolute;
    top: 60%;
    left: 0%;
    transform: translate(0% 0%);
    color: rgb(255, 235, 235);
    text-align: center;
    background-color: rgba(102, 26, 26, 0.253);
    padding: 5px 0px 30px;
}

#texto_slide .titulo_slide
{
    font-size: 1.8rem;
    margin-bottom: 10px;
    color:  white;
}

@media(max-width: 768px)
    {
       #texto_slide .titulo_slide
{
    font-size: 1rem;
    margin-bottom: 5px
} 
    }


#texto_slide .frase_slide
{
    font-size: 1.2rem;
    margin-bottom: 10px;
    font-weight: bold;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.349);
    
}

@media(max-width: 768px)
    {
       #texto_slide .frase_slide
{
    font-size: 0.7rem;
    margin-bottom: 5px
} 
    }


#texto_slide .item_slide:link, .item_slide:visited{
    color: #ffffff;
    background-color: #8c78ff;
    border-radius: 4px;
    padding: 6px 30px;
}

#texto_slide .item_slide:hover{
    color: #ffffff;
    background-color: #0f0066;
}

#texto_slide .item_slide:active{
    color: #ffffff;
    background-color: #2000d8;
}

/*Sessões*/

#sobre, #depoimentos, #destaques, #transparencia, #institucional, #ajuda{
    padding: 2%;
}

/*Projetos*/


.sobre{
    background-color: #ffffff;
    padding: 4% 0%;

}


main a:link, a:visited{
    color: #ba86ff;
    font-weight: bold;
}


main a:hover{
    color: #7742bb;
}


.projetos{
    background-color: #efedff;
    padding: 2%;
    margin: 3%;
}

.projetos > h2{
    color: rgb(85, 0, 196);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2rem;
}

.projetos > p{
    color: #000000;
}


#projetos{
    display: flex;
    justify-content: space-between;
    
}

@media (max-width: 768px) {
    #projetos {
        flex-direction: column
    }
}

.bloco_projeto h3{
    color: #dec6ff;
}


.bloco_projeto a:visited 
{
    color: #ba86ff;
    font-weight: bold;
}

.bloco_projeto a:link 
{
    color: #ba86ff;
    font-weight: bold;
}


.bloco_projeto {
    flex: 1;                  
    padding: 2%;
    border-radius: 5px;
    margin: 4% 1%;
    
}

#quatro_patas{
    background-color: #4e4685;
    color: #ffffff;

}

#quatro_patas> h3{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5rem;

}


#aprender_crescer{
    background-color: #4b476e;
    color: #ffffff;

}

#aprender_crescer> h3{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
}

#rede_solidaria{
    background-color: #3d318d;
    color: #ffffff;
}

#rede_solidaria> h3{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5rem;

}


#depoimentos article{
    width: 700px;
    background-color: #ba86ff;
    margin: 1rem;
    padding: 2rem;
    border-radius: 10px;
    color: white;
    display: block;
    margin: auto;
    margin-bottom: 20px;
    box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.5);
    
}

@media (max-width: 700px) {
    .depoimentos article {
        max-width: 90%;
        width: 100%;
        padding: 1rem;
        box-sizing: border-box;
}
}

#depoimentos article img{
    display: block;
    border-radius: 10px;
    width: 50%;
    margin: auto;
    box-shadow: 3px 3px 9px black;
    
}

#depoimentos article p {
    text-align: center;
    text-shadow: ;
    font-weight: bold;
    text-shadow: 0.6px 0.6px 2px rgba(0, 0, 0, 0.301);
}
.destaques{
    background-color: #ffffff;
    padding: 4% 0%;
}

.transparencia{
    background-color: #efedff;
    padding: 4% 0%;

}

.transparencia h2{
    color: rgb(85, 0, 196);
}

.transparencia h3{
    color: rgb(132, 86, 190);
}

.institucional{
    background-color: #ffffff;
    padding: 4% 0%;
}
