
/*Título principal*/
h1
{
    padding-left: 10px;
}

/*banner slider*/

.banner_slider {
    position: relative;
    width: 100%;
    max-width: 900px;
    margin: auto;
    overflow: hidden;
    padding: 0px;
}
 
@media (max-width: 768px) {
  .banner_slider {  position: relative;
                    width: 100%;
                    max-width: 450px;
                    margin: auto;
                    overflow: hidden;
                    padding: 0%;}
}

@media (max-width: 440px) {
  banner_slider {  position: relative;
                    width: 100%;
                    max-width: 440px;
                    margin: auto;
                    overflow: hidden;
                    padding: 0%;}
}
.slides {
    display: flex;
    width: 900px;
    animation: slide 30s infinite;
}

@media (max-width: 768px)
{
    .slides{
        display: flex;
        width: 450px;
        animation: slide 30s infinite; 
    }
}

@media (max-width: 440px)
{
    .slides{
        display: flex;
        width: 440px;
        animation: slide 30s infinite; 
    }
}


.slides img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

@keyframes slide {
    0%   { transform: translateX(0); }
    11%  { transform: translateX(0); }
    22%  { transform: translateX(-100%)}
    33%  { transform: translateX(-200%); }
    44%  { transform: translateX(-300%); }
    55%  { transform: translateX(-400%); }
    66%  { transform: translateX(-500%); }
    77%  { transform: translateX(-600%); }
    88%  { transform: translateX(-700%); }
}

#texto_slide
{
    position: absolute;
    top: 65%;
    left: 0%;
    transform: translate(0% 0%);
    color: rgb(255, 255, 255);
    text-align: center;
    background-color: rgba(0, 0, 0, 0.35);
    padding: 10px;
}

#texto_slide .titulo_slide
{
    font-size: 1.8rem;
    margin-bottom: 10px
}

@media(max-width: 768px)
    {
       #texto_slide .titulo_slide
{
    font-size: 0.9rem;
    margin-bottom: 5px
} 
    }


#texto_slide .frase_slide
{
    font-size: 1.2rem;
    margin-bottom: 10px;
    
}

@media(max-width: 768px)
    {
       #texto_slide .frase_slide
{
    font-size: 0.5rem;
    margin-bottom: 5px
} 
    }


#texto_slide a:link{
    color: #d44343;
    background-color: #ffacac;
    border-radius: 4px;
    padding: 6px 30px;
}

#texto_slide a:visited{
    color: #d44343;
}

#texto_slide a:hover{
    color: #b23131;
}

#texto_slide a:active{
    color: #640707;
}


