#tabela_impacto{
    border: 1px solid #423783;
    margin: auto;
    width: 80%;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th {
    background-color: #423783;
    color: white;
    border: 0px;
    padding: 4px 4px;
    font-size: 1rem;
    border: 1px solid #423783 ;
}

td{
   padding: 4px 4px;
   font-size: 0.8rem;
   border-left: 1px solid #423783;
}

table tr .ultima_celula{
    border-bottom: 1px solid #423783;
}

/*Links*/

ul {
    list-style: none;
    margin: 0%;
    padding-left: 1rem;
    
}

.main_link:link, .main_link:visited{
    color: #ba86ff;
    font-weight: bold;
}

.main_link:hover{
    color: #7742bb;
}

/*Sessões*/

#principal, #indice, #como_participar, #impacto, #criterios, #projetos, #depoimentos, #depoimentos{
    padding: 2%;
}

.depoimento{
    margin: auto;
    max-width: 70%;
    background-color: rgb(162, 151, 255);
    border-radius: 15px;
    padding: 12px;
    color: white;
    text-align: center;
    margin-top: 3%;
}

.depoimento h3 {
    color: white;
}

.depoimento q{
    font-weight: bold;
    
}

.depoimento p{
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.185);
}

.link{
    color: #ffffff;
    background-color: #d43e3e;
}

.link:link, .link:hover{
    margin: auto;
    background-color: #d32222;
    padding: 5px;
    color: #ffffff;
    border-radius: 10px;
    font-weight: bolder;
}

.depoimento img{
    display: block;
    margin: auto;
    max-width: 70%;

}
